main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem 0;

    .pomo {
        .pomo-timer {
            margin: 2rem 0;
            padding: 3rem 5rem;
            color: $l_white;
            background: $l_lgreen;

            nav {
                ul {
                    list-style: none;

                    li {
                        padding: 0.2rem;
                        margin: 0 3rem;
                        cursor: pointer;
                        transition: ease-in-out 300ms;
                    }

                    li:hover {
                        color: $l_font;
                        background: $l_bg;
                    }

                    .li-active {
                        color: black;
                        background: $l_bg;
                    }
                }
            }

            .pomodoro {
                h3 {
                    font-size: 12rem;
                    display: flex;
                    align-items: center;
                }

                .pomodoro-minutes {
                    width: 14vw;
                    justify-content: flex-end;
                }

                .pomodoro-colon {
                    width: 4vw;
                    justify-content: center;
                }

                .pomodoro-seconds {
                    width: 14vw;
                    justify-content: flex-start;
                }
            }

            button {
                background: $l_white;
                color: $l_lgreen;
                font-size: 1.25rem;
                border: none;
                cursor: pointer;
                width: 16rem;
                height: 3.5rem;
                transition: ease-in-out 300ms;
            }
        }

        .pomo-settings {
            margin: 2rem 0 0 0;
            width: 35rem;

            h4 {
                margin: 0 0 1rem 0;
            }

            .inputs {
                width: 100%;

                .input {
                    p {
                        margin-right: 1rem;
                    }

                    input {
                        background: $l_lgreen;
                        color: $l_font;
                        border: none;
                        outline: none;

                        text-align: center;

                        width: 2rem;
                        height: 2rem;

                        font-weight: 500;
                        font-size: 1rem;
                    }
                }
            }

            button {
                width: 7rem;
                height: 1.75rem;

                margin: 2rem 0 0 0;

                background: $l_white;
                color: $l_font;
                border: none;
                cursor: pointer;
                transition: ease-in-out 300ms;
            }
        }
    }

    .tasks {
        .tasks-field {
            margin: 2rem 0;
            padding: 3rem 5rem;
            color: $l_white;
            background: $l_lgreen;

            .new-task {
                width: 25vw;

                input {
                    width: 100%;
                    height: 3rem;
                    outline: none;
                    border: none;
                    background: $l_white;
                    padding: 0 2rem;
                }

                button {
                    width: 7rem;
                    height: 1.75rem;

                    margin: 2rem 0 0 0;

                    background: $l_white;
                    color: $l_lgreen;
                    border: none;
                    cursor: pointer;
                    transition: ease-in-out 300ms;
                }
            }

            .tasks-list {
                margin: 2rem 0 0 0;
                width: 25vw;

                .task {
                    width: 100%;
                    padding: 0.6rem 2rem;
                    margin: 0 0 1rem 0;
                    color: $l_font;
                    background: $l_bg;

                    p {
                        width: 80%;
                        word-wrap: break-word;
                    }

                    .task-buttons {
                        button {
                            margin-left: 1rem;
                            cursor: pointer;
                        }
                    }
                }

                .done {
                    background: $l_dgreen;

                    p {
                        text-decoration: line-through;
                    }
                }
            }
        }
    }

    @include breakpoint(l) {
        .pomo {
            .pomo-timer {
                padding: 2.1rem 3.5rem;

                .pomodoro {
                    h3 {
                        font-size: 10.2rem;
                    }
                }

                button {
                    width: 13.6rem;
                    height: 2.975rem;
                }
            }
        }

        .tasks {
            .tasks-field {
                padding: 2.1rem 3.5rem;
            }
        }
    }

    @include breakpoint(m) {
        .pomo {
            .pomo-timer {
                nav {
                    ul {
                        li {
                            font-size: 0.8rem;
                            margin: 0 2rem;
                        }
                    }
                }

                .pomodoro {
                    h3 {
                        font-size: 8.16rem;
                    }
                }

                button {
                    width: 10.88rem;
                    height: 2.38rem;
                    font-size: 1rem;
                }
            }
        }
    }

    @include breakpoint(s) {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .pomo {
            .pomo-timer {
                padding: 3rem 5rem;

                nav {
                    ul {
                        li {
                            font-size: 1rem;
                            margin: 0 2rem;
                        }
                    }
                }

                .pomodoro {
                    h3 {
                        font-size: 10.2rem;
                    }

                    .pomodoro-minutes {
                        width: 7rem;
                    }

                    .pomodoro-colon {
                        width: 4rem;
                    }

                    .pomodoro-seconds {
                        width: 7rem;
                    }
                }

                button {
                    width: 13.6rem;
                    height: 2.975rem;
                }
            }

            .pomo-settings {
                margin: 2rem 0;
            }
        }

        .tasks {
            width: 100%;
            .tasks-field {
                padding: 3rem 5rem;

                .new-task {
                    width: 30rem;
                }

                .tasks-list {
                    width: 30rem;
                }
            }
        }
    }

    @include breakpoint(xs) {
        .pomo {
            .pomo-timer {
                padding: 2.1rem 2.1rem;
                nav {
                    ul {
                        li {
                            font-size: 0.8rem;
                            margin: 0 1rem;
                        }
                    }
                }

                .pomodoro {
                    h3 {
                        font-size: 6rem;
                    }

                    .pomodoro-minutes {
                        width: 7rem;
                    }

                    .pomodoro-colon {
                        width: 4rem;
                    }

                    .pomodoro-seconds {
                        width: 7rem;
                    }
                }

                button {
                    width: 10.88rem;
                    height: 2.38rem;
                    font-size: 1rem;
                }
            }

            .pomo-settings {
                width: 10rem;
                .inputs {
                    flex-direction: column;

                    .input {
                        margin: 0.5rem;
                    }
                }
            }
        }

        .tasks {
            .tasks-field {
                padding: 2.1rem 2.1rem;

                .new-task {
                    width: 20rem;
                }

                .tasks-list {
                    width: 20rem;
                }
            }
        }
    }

    @include breakpoint(xxs) {
        font-size: 0.7rem;
        .pomo {
            .pomo-timer {
                padding: 1.8rem 1.8rem;
                nav {
                    ul {
                        li {
                            font-size: 0.6rem;
                            margin: 0 0.6rem;
                        }
                    }
                }

                .pomodoro {
                    h3 {
                        font-size: 4rem;
                    }

                    .pomodoro-minutes {
                        width: 4rem;
                    }

                    .pomodoro-colon {
                        width: 2rem;
                    }

                    .pomodoro-seconds {
                        width: 4rem;
                    }
                }

                button {
                    width: 6.528rem;
                    height: 1.428rem;
                    font-size: 0.7rem;
                }
            }

            .pomo-settings {
                .inputs {
                    flex-direction: column;

                    .input {
                        margin: 0.5rem;

                        input {
                            font-size: 0.7rem;
                            width: 1.5rem;
                            height: 1.5rem;
                        }
                    }
                }

                button {
                    width: 6.528rem;
                    height: 1.428rem;
                    font-size: 0.7rem;
                }
            }
        }

        .tasks {
            .tasks-field {
                padding: 1.8rem 1.8rem;

                .new-task {
                    width: 15rem;

                    input {
                        font-size: 0.7rem;
                    }

                    button {
                        width: 6.528rem;
                        height: 1.428rem;
                        font-size: 0.7rem;
                    }
                }

                .tasks-list {
                    width: 15rem;
                }
            }
        }
    }
}
