// light
$l_bg: #86e2d5;
$l_lgreen: #70c4b8;
$l_dgreen: #57a599;
$l_font: rgb(10, 10, 12);
$l_white: #fafafa;
$l_transdark: rgba(10, 10, 12, 0.15);

// dark
$d_bg: #0d1730;
$d_font: rgb(240, 240, 240);
$d_royal: #3b2db9;
$d_lnavy: #1c2d55;
$d_navy: #122041;
$d_dnavy: #0d1730;
$d_transwhite: rgba(243, 243, 243, 0.15);
