*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    transition: ease-in-out 300ms;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    background: #86e2d5;
    color: rgb(10, 10, 12);

    ::-moz-selection {
        background: #fafafa;
    }
    ::selection {
        background: #fafafa;
    }
}

body.dark {
    transition: ease-in-out 300ms;
    background: #0d1730;
    color: rgb(240, 240, 240);

    ::-moz-selection {
        background: #3b2db9;
    }
    ::selection {
        background: #3b2db9;
    }

    header {
        border-bottom: 1px solid rgba(243, 243, 243, 0.151);
    }

    main {
        .pomo-timer {
            background: #122041;

            nav {
                ul {
                    li:hover {
                        color: rgb(240, 240, 240);
                        background: #3b2db9;
                    }

                    .li-active {
                        color: rgb(240, 240, 240);
                        background: #3b2db9;
                    }
                }
            }

            button {
                color: #122041;
            }

            button:hover {
                background: #d7d2ff;
            }
        }

        .pomo-settings {
            .inputs {
                .input {
                    input {
                        background: #122041;
                        color: rgb(240, 240, 240);
                    }
                }
            }
        }
    }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

header {
    width: 100%;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(10, 10, 12, 0.151);

    h1 {
        font-size: 3rem;
        font-weight: 100;
        letter-spacing: 5px;
        margin: 0 2rem 0 0;
    }

    p {
        font-size: 1.25rem;
        font-weight: 500;
        letter-spacing: 2px;
    }
}

header.dark {
    border-bottom: 1px solid rgba(231, 231, 231, 0.829);
}

footer {
    width: 100%;
    height: 5vh;

    display: flex;
    justify-content: space-between;

    p {
        font-weight: 500;
    }

    .icons {
        display: flex;
        align-items: flex-start;

        p {
            margin-left: 3rem;
            cursor: pointer;
        }
    }
}

main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem 0;

    .pomo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .pomo-timer {
            margin: 2rem 0;
            padding: 3rem 5rem;
            color: #fafafa;
            background: #70c4b8;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            nav {
                ul {
                    list-style: none;
                    display: flex;

                    li {
                        padding: 0.2rem;
                        margin: 0 3rem;
                        cursor: pointer;
                        transition: ease-in-out 300ms;
                    }

                    li:hover {
                        color: black;
                        background: #86e2d5;
                    }

                    .li-active {
                        color: black;
                        background: #86e2d5;
                    }
                }
            }

            .pomodoro {
                display: flex;

                h3 {
                    font-size: 12rem;

                    display: flex;
                    align-items: center;
                }

                .pomodoro-minutes {
                    width: 10rem;

                    justify-content: flex-end;
                }

                .pomodoro-colon {
                    width: 6rem;

                    justify-content: center;
                }

                .pomodoro-seconds {
                    width: 10rem;

                    justify-content: flex-start;
                }
            }

            button {
                background: #fafafa;
                color: #70c4b8;
                font-size: 1.25rem;
                border: none;
                border-radius: 1rem;
                cursor: pointer;
                width: 16rem;
                height: 3.5rem;
                transition: ease-in-out 300ms;
            }

            button:hover {
                background: #dffffb;
            }
        }

        .pomo-settings {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 2rem 0 0 0;
            width: 30rem;

            h4 {
                margin: 0 0 1rem 0;
            }

            .inputs {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .input {
                    display: flex;
                    align-items: center;

                    p {
                        margin-right: 1rem;
                    }

                    input {
                        background: #70c4b8;
                        color: black;
                        border: none;
                        outline: none;

                        text-align: center;

                        width: 2rem;
                        height: 2rem;

                        font-weight: 500;
                        font-size: 1rem;
                    }
                }
            }

            button {
                width: 7rem;
                height: 1.75rem;

                margin: 2rem 0 0 0;

                background: #fafafa;
                color: black;
                border: none;
                border-radius: 0.5rem;
                cursor: pointer;
                transition: ease-in-out 300ms;
            }
        }
    }
}
